@import "tailwindcss";

@theme {
  --color-background-primary: #0a192f;
  --color-background-secondary: #1b2e4b;
  --color-background-tertiary: #103f4f;
  --color-blue: #0d3b66;
  --color-purple: #2c234d;
  --color-olive: #1e2d24;
  --color-slate-gray: #112240;
  --color-primary: #ccd6f6;
  --color-secondary: #8892b0;
  --color-heading: #e6f1ff;
  --color-accent: #64ffda;
}

:root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  
  animation: typing 5s steps(13, end) infinite, blink 1s step-end infinite;
}

@keyframes typing {
  0% { width: 0 }
  35% { width: 13ch }
  75% { width: 13ch }
  100% { width: 0 }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #fff; }
}


